project_id        = "spider-107124046-onsite"
region            = "asia-south1"
cluster_name      = "spider-web-dev"
node_count        = 1
node_machine_type = "e2-micro"
network_name      = "spider-web-dev-vpc"

subnets = [
  {
    name          = "subnet-dev-1"
    ip_cidr_range = "10.10.0.0/16"
  }
]

db_instance_name = "spider-web-dev-db"
db_name          = "classroom_dev"

ssh_allowed_ip_cidr = "0.0.0.0/0" # WARNING: Dev environment only

buckets = {
  "spider-web-dev-uploads" = {
    public_access     = true
    enable_versioning = false
  }
}
