project_id        = "spider-107124046-onsite"
region            = "asia-south1"
network_name      = "spider-web-prod-vpc"

subnets = [
  {
    name          = "subnet-prod-1"
    ip_cidr_range = "10.30.0.0/16"
  }
]

db_instance_name = "spider-web-prod-db"
db_name          = "classroom"

ssh_allowed_ip_cidr = "123.45.67.89/32" # restrict to devop VPN/IP

# Modularity: Multiple buckets can be defined here and all of them will be
# created on applying terraform plan
buckets = {
  "spider-web-prod-uploads" = {
    public_access     = false
    enable_versioning = true
    location          = "ASIA-SOUTH1"
  }
}

instances = {
  "app-server" = {
    name         = "app-server"
    machine_type = "e2-micro"
    zone         = "asia-south1-b"
    subnetwork   = "subnet-1"
    tags         = ["allow-ssh"]

    metadata = {
      startup-script = "" # Add script here if needed
    }

    boot_disk = {
      initialize_params = {
        image = "debian-cloud/debian-12"
        size  = 10
        type  = "pd-balanced"
      }
    }
  }
}
